################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cpp_assign1/cpp_assign1.VC.VC.opendb
